.App-header {
  background-color: #7ec197;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: .5rem 0;
}

.App-header h1 {
  color: white;
}

.App-body {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}
